body, html {
    height: 100%;
    margin: 0;
}

ul.topNav li{
    text-align: center;
    display: inline;
    font-size:25px;
    padding: 5px;
}

ul.topNav li:before {
    content: "/";
    padding-right: 10px;
}

ul.topNav li.last-item:after {
    content: "/";
    padding-left: 10px;
}

@media screen and (max-width: 700px){
    ul.topNav {
        padding-top: 50px;
    }

    ul.topNav li {
        display: block;
        float: none;
    }
    ul.topNav li:before {
        content: none;
    }
    ul.topNav li.last-item:after {
        content: none;
    }
}

.main {
    text-align: center;

    /* The image used */
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background: url("https://images3.alphacoders.com/626/626072.jpg") no-repeat center;
    background-size: cover;
}

h1, h3, ul, a {
    font-family: Titillium Web, Monospace, serif;
    font-size: auto;
    color: #ccccb3;
    margin-top: 20px;
}

.topHeader {
    margin:0;
}

.aboutPage {
    text-align: center;


    /* The image used */
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background: url("http://sf.co.ua/15/06/wallpaper-50b30.jpg") no-repeat center;
    background-size: cover;
}
