body, html {
    height: 100%;
    font-family: Titillium Web, Monospace, serif;
    color: #000;
}

ul.topNav li a {
    font-family: Titillium Web, Monospace, serif;
    color: #000;
}

ul.topNav li {
    text-align: center;
    display: inline;
    font-size:25px;
}

ul.topNav li:before {
    content: "/";
    padding-right: 5px;
}

ul.topNav li.last-item:after {
    content: "/";
    padding-left: 5px;
}

@media screen and (max-width: 768px){

    ul.topNav {
        padding-top: 50px;
    }

    ul.topNav li {
        display: block;
        float: none;
    }

    ul.topNav li:before {
        content: none;
    }

    ul.topNav li.last-item:after {
        content: none;
    }
}

@media screen and (max-width: 993px){
    .logo {
        max-width: 200px;
    }

    #projects img {
        max-width: 350px;
    }
}

.homePage {
    background-image: url("https://www.clipartsgram.com/image/1127858435-background-images-for-websites-24.jpg");

}

.aboutPage {
    background-color:white;

}

.page {
    text-align: center;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    width: 300px;
}

.profile-image {
    border-color: black;
    border-width: 2.5px;
    border-style: solid;
}

.container-fluid {
    padding: 20px 20px 20px 20px;
}

.container_skills {
    text-align: center;
}

/* figure {
    float: left;
    margin: 10;
    text-align: center;
    padding: 30px;
} */

#skills figure {
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 20px;
}

figcaption {
    padding: 10px;
    font-family: Titillium Web, Monospace, serif;
    color: #000;
}

.colored {
    font-size:50px;
}

.links_social li {
    display: inline; }

.links_social i {
    text-align: center;
    display: inline-block; }

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #000;
}